.epbs-logo-st0 {
    display: none;
    fill: #D9DDE0;
}

.epbs-logo-st1 {
    opacity: 0.2;
}

.epbs-logo-st2 {
    opacity: 0.6;
}

.epbs-logo-st3 {
    opacity: 0;
    fill: url(#Rectangle_7_3_);
    fill-opacity: 0;
}

.epbs-logo-st4 {
    opacity: 9.090909e-02;
    fill: url(#SVGID_1_);
    fill-opacity: 9.090909e-02;
}

.epbs-logo-st5 {
    opacity: 0.1818;
    fill: url(#SVGID_2_);
    fill-opacity: 0.1818;
}

.epbs-logo-st6 {
    opacity: 0.2727;
    fill: url(#SVGID_3_);
    fill-opacity: 0.2727;
}

.epbs-logo-st7 {
    opacity: 0.3636;
    fill: url(#SVGID_4_);
    fill-opacity: 0.3636;
}

.epbs-logo-st8 {
    opacity: 0.4545;
    fill: url(#SVGID_5_);
    fill-opacity: 0.4545;
}

.epbs-logo-st9 {
    opacity: 0.5455;
    fill: url(#SVGID_6_);
    fill-opacity: 0.5455;
}

.epbs-logo-st10 {
    opacity: 0.6364;
    fill: url(#SVGID_7_);
    fill-opacity: 0.6364;
}

.epbs-logo-st11 {
    opacity: 0.7273;
    fill: url(#SVGID_8_);
    fill-opacity: 0.7273;
}

.epbs-logo-st12 {
    opacity: 0.8182;
    fill: url(#SVGID_9_);
    fill-opacity: 0.8182;
}

.epbs-logo-st13 {
    opacity: 0.9091;
    fill: url(#SVGID_10_);
    fill-opacity: 0.9091;
}

.epbs-logo-st14 {
    fill: url(#Rectangle_7_7_);
}

.epbs-logo-st15 {
    fill: #FFFFFF;
}

.epbs-logo-st16 {
    clip-path: url(#SVGID_12_);
}

.epbs-logo-st17 {
    fill: #455CA8;
}

.epbs-logo-st18 {
    fill: #D43329;
}

.epbs-logo-st19 {
    fill: #63C1EC;
}